/coverage/
/lib/
/test/
/summary/
/types/
/test-results/
/.circleci/

.idea
jest.config.ci.js
jest.config.js
webpack.config.dev.js
webpack.config.js
webpack.config.prod.js
tsconfig.json
tsconfig.test.json
tslint.json
yarn-error.log
README.md
junit.xml
.babelrc